<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Thymeleaf 전체 구문 중급 언어 (SpringEL 표현식)</title>
</head>
<body>

<!-- th:switch~th:case 스위치 케이스문 사용 방식 -->
<ul th:switch="${paymethod}">
<li th:case="1">신용카드</li>
<li th:case=2>가상계좌</li>
<li th:case=3>무통장입금</li>
</ul>
<br><br>

<!-- #numbers.sequence : 단순 반복을 말하며 (시작값, 종료값) 으로 사용, 두가지 방법 -->
<ul>
<li th:each="no : ${#numbers.sequence(1,5)}">[[${no}]]</li>
<li th:each="no : ${#numbers.sequence(1,5)}" th:text="${no}"></li>
</ul>
<br><br>

<p>색상 선택</p>
<div th:each="color, aaa : ${alldata}">
<!-- :사용시 에러남 => 바깥을 파이프로 감싸주기 또는 태그밖에 쓰기-->

<!-- 배열과 foreach -->
<!-- 
<span th:text="|일련번호 : 1|"></span>
 -->
<span>데이터 총 개수 : [[${aaa.size}]]</span>	<!-- 데이터 개수 -->
<span>데이터 카운터 : [[${aaa.count}]]</span>	<!-- 데이터 개수 -->
<span>데이터 홀짝 : [[${aaa.even}]]</span>		<!-- odd:홀수 even:짝수 => count값으로 짝수,홀수 -->
<span>일련번호 : [[${aaa.index}]]</span>	<!-- 객체명 : 배열값 -->
<span th:text="${color}"></span>	<!-- 배열값을 each로 출력 -->
</div>
<!-- 
<div th:each="color : ${alldata}">[[${color}]]</div>
 -->

<!-- 라디오와 체크박스 
th:checked => radio, checkbox에서 사용하는 속성 
-->
<p>약관동의</p>
<input type="radio" value="Y" th:checked="${agree == 'Y'}">동의함
<input type="radio" value="N" th:checked="${agree == 'N'}">동의안함

<!-- <select>핸들링 -->
<p>회원등급</p>
<select>
<option value="비회원" th:selected="${level == '비회원'}">비회원</option>
<option value="일반회원" th:selected="${level == '일반회원'}">일반회원</option>
<option value="실버회원" th:selected="${level == '실버회원'}">실버회원</option>
<option value="골드회원" th:selected="${level == '골드회원'}">골드회원</option>
</select>

<!-- 시간을 원하는 형식으로 출력 -->
<p>현재시간</p>
<span th:text="${today}"></span><br>
<!-- #temporals : LocalDateTime를 받을때 사용 -->
<span th:text="${#temporals.format(today2,'yyyy-MM-dd HH:mm:ss')}"></span><br>
<!-- #dates : Date를 받을때 사용 -->
<span th:text="${#dates.format(today3,'yyyy-MM-dd HH:mm:ss')}"></span><br>
<br><br>

<!-- 자바 클래스 로드 (실무형) 
thymeleaf : T=타입 자바클래스를 로드하는 역할
	Math활용가능 : ceil, floor사용 가능 round는 사용불가능  
-->
<span th:text="${10/2}"></span>
<span th:text="${T(java.lang.Math).ceil(10/3)}"></span>
<span th:text="${T(java.lang.Math).floor(10/3)}"></span>
<!--
안되는 코드 
<span th:text="${T(java.lang.Math).round(10/3)}"></span>
<span th:text="${T(java.util.Random).nextInt(10)}"></span>
 -->
 <!-- 임포트가 안되는 애들(java.lang 이런거)만 T 사용가능  -->
  
<!-- 해당 패키지에 있는 class를 로드하는 방식
static 변수 로드 가능 
-->
<span th:text="${T(kr.co.koo.thymeleaf.thymeleaf_controller).kk}"></span>

</body>
</html>